*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

.heading >h1{
  font-size: 3.4rem;
  text-align: center;
  
  padding-top: 5rem;
  font-weight: 100;
  opacity: 0.7;
}

.heading > h2{
    font-size: 3.6rem;
    text-align: center;
    opacity: 0.7;
}

.heading > p{
   font-size: 1.6rem;
   
   text-align: center;
   max-width:40%;
   margin:0 auto;
   opacity: 0.4;
   margin-bottom: 5rem;
}

.card{
    width: 25%;
    min-height: 20rem;
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-3{
    margin-left: 75rem;
    margin-top: -30rem;
    border-top: 3px solid hsl(180, 62%, 55%);
}

.card-4{
    margin-right: 75rem;
    margin-top: -22rem;
    border-top: 3px solid hsl(212, 86%, 64%);
}

.card-1{
    border-top: 3px solid hsl(0, 78%, 62%);
}
.card-2{
    border-top: 3px solid hsl(34, 97%, 64%);
}

.card > h3{
    font-size: 2rem;
}
.card > p{
    font-size: 1.4rem;
    font-weight: 100;
}

.card > img{
    width:15%;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  
    
    
    /* margin-left: 25rem;
    margin-top: 3rem; */
}



@media screen and (max-width:1150px){
    .heading >h1{
        font-size: 3rem;
    }

    .heading > h2{
        font-size: 3.2rem;
        
    }
    .heading > p{
        font-size: 1.4rem;
        
        text-align: center;
        max-width:80%;
        margin:0 auto;
        opacity: 0.4;
        margin-bottom: 5rem;
     }
     .card{
        width: 80%;
        height: 25rem;
        background-color: #fff;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    /* .card-3{
        margin-left:0;
        margin-top: 0;
        
    }
    
    .card-4{
        margin-right: 0;
        margin-top: 0;
        
    } */
}
